/* Desktop Screen */
.mainBackground{
	background-color: #DDDDDD;
	width : 1512px;
	height: 982px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* tab screens */
@media screen and (min-width : 960px){
	.mainBackground{
		display: flex;
		flex-direction: column;
		width : 960px;
		height: 1194px;
		align-items: center;
		justify-content: center;
	}
}


